<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Footer injected from template -->
</head>
<body>
    <footer class="page-footer d-flex align-items-center">
        <img src="assets/Aquapay_Logo.svg">
        <div>
            <div class="website-name">
                AquaPay
                <span>for Water Wonderland Utility, Inc.</span>
            </div>
            <div class="copyright">
                Copyright &copy; 2022, AquaPay. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>
