.bg-img img {
    position: relative;
    left: 100%;
    transform: translateX(-100%)
}
.form {
    position: absolute;
    top: 50%;
    left: 7em;
    transform: translateY(-50%);
}
body {
    background: linear-gradient(to right, var(--blue), var(--teal));
}
.container-fluid {
    padding: 0 !important;
    background: white    !important;
}
.form-group {
    margin: 0.3em 0;
    display:flex;
    flex-direction: column;
}
input:not([type="submit"]),
textarea {
    border: 3px solid var(--blue) !important;
}
input:not(:last-of-type) {
    margin-right: 5px;
}
.feature-title {
    margin-bottom: 1em !important;
}
.input-group:not(:last-of-type) {
    margin-bottom: 5px;
}