.scrolled-top {
  background: linear-gradient(to right, var(--blue), var(--teal));
}

.form {
  width: 50vw;
  margin: 3em auto;
  padding: 1.7em 1.9em;
  background: #fff;
  border-radius: 0.5em;
}

h1 {
  margin-bottom: 0.7em !important;
  font-weight: 700 !important;
  text-align: center;
}

.parent-group {
  margin-top: 1em;
}

.form-group > .form-group .input-group {
  margin-top: 0.5em;
}

.form-group .input-group .form-control:last-of-type {
  margin-left: 0.45em !important;
}

.form-label {
  font-weight: 500;
}

.form-control {
  border-color: #8c8c8c !important;
  border-radius: 0.5em !important;
}
.form-control:hover {
  border-color: var(--teal) !important;
}
.form-control:focus {
  border-color: var(--blue) !important;
}

.blue-btn {
  padding-left: 1.9em;
  padding-right: 1.9em;
  margin: 1.3em 0 0;
}

/* For short forms */

.form-group-short {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20vw;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .form {
    width: 100%;
    border-radius: 0;
  }

  .form-group-short {
    width: 75%;
  }
}
