@import url("variables.css");

* {
    font-family: var(--default-font);
    box-sizing: border-box;
}

body {
    font-weight: 300;
    background: linear-gradient(to right, var(--blue), var(--teal));
}


/* Navigation */

nav {
    background: linear-gradient(to right, var(--blue), var(--teal));
}

a.navbar-brand {
    margin-left: 5.5em;
}

.website-name {
    line-height: 1.3em;
}

.title {
    margin-top: 15px;
    font-size: 2em;
    font-weight: 700;
}

.subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-brand > img {
    margin-right: 0.5em;
    min-height: 80px;
    height: 5vw;
}

a.navbar-brand,
.nav-link {
    color: #fff !important;
}

.nav-item:not(:last-of-type) {
    margin-right: 1.5em;
}

.nav-link > i {
    padding: 6px;
    background: #fff;
    color: var(--teal);
    border-radius: 50px;
}

.dropdown-menu {
    padding: 0 !important;
    border-radius: 0.5em !important;
}

.dropdown-menu li:first-of-type a {
    border-radius: 0.5em 0.5em 0 0 !important;
}
.dropdown-menu li:last-of-type a {
    border-radius: 0 0 0.5em 0.5em !important;
}

.dropdown-item {
    padding: 0.5em 1em !important;
}


/* Headings */

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
}


/* Buttons */

.blue-btn, .blue-btn:hover, .blue-btn:active {
    transition: 0.1s;
}

.blue-btn {
    padding: 0.6em 0.8em;
    background: var(--blue);
    color: #fff;
    border: 0;
    border-radius: 0.5em;
}
.blue-btn:hover {
    background: var(--btn-hover-blue);
}
.blue-btn:active {
    background: var(--btn-active-blue);
}