@import url("variables.css");

body {
  background: url("/assets/bg-images/bottom-right-circles.svg");
  background-size: cover;
}

form {
  margin: 20vh 0 26vh 10vw;
  width: 45%;
}

input {
  font-size: 1.2em !important;
  border-width: 5px !important;
  border-radius: 10px !important;
  height: 50px;
}

input:active {
  border-color: var(--blue) !important;
}

.feature-title {
  color: var(--blue);
  margin-bottom: 10px !important;
}

.form-label {
  font-size: 1.1em;
  font-weight: 600;
  margin: 30px auto 10px auto !important;
}

.submit {
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 40px !important;
}

.submit:hover {
  color: #fff;
}

@media only screen and (max-width: 991px) {
  form {
    margin: 20vh 2vw 26vh 2vw;
    width: auto;
  }
}
