body {
  height: 100vh;
  width: min-content;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    rgb(12, 127, 180) 40%,
    rgb(29, 131, 135)
  );
  background-size: cover;
  background-repeat: no-repeat;

  /* Will probably remove later */
  color: #fff !important;
}

nav a::content {
  color: red;
  line-height: 9em !important;
}

.navbar-brand img {
  min-height: 80px;
  height: 5vw;
}

.cl-white {
  color: #fff !important;
  font-size: 1.5em !important;
}
